.form {
  display: flex;
  flex-direction: column;

  &__field {
    display: flex;
    flex-direction: column;
    height: 8rem;

    &:not(:first-child) {
      margin-top: 1.5rem;
    }

    & label {
      font-size: 1.4rem;
      margin-bottom: 0.5rem;
    }
  }
}
