.menu {
  width: 90vw;
  padding: 1.5rem 0;
  border-bottom: solid 1px rgba(gray, 0.5);
  margin: 1rem auto;
  margin-bottom: 2rem;

  &__item {
    &:link {
      padding: 1.5rem 2rem;
      letter-spacing: 2px;
      text-decoration: none;
      color: green;
    }

    &:active {
      border-bottom: solid 1px rgba(gray, 1);
    }
  }
}
